{% extends 'textiles/dashboard_base.html'  %} {% load static %}
    {% block body %}
      <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
      <a href="{% url 'textiles:create_boutique' %}">Add Boutique</a>
        <!-- {{boutiques}} -->
       <table class="table">
        {% for boutique in boutiques %}
        
        
            
            <tbody>
              <tr>
                <td>{{boutique.id}}</td>
                <td><a href="{% url 'textiles:boutique_detail' boutique.pk %}">{{boutique.name}}</a></td>
                <td>{{boutique.caption}}</td>
              </tr>
            </tbody>
          
          {% endfor %}
        </table>
    
    <!-- End page content -->
    </div>
        
    {% endblock body %}    




